<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-music-controls2" version="3.0.0">
    <name>MusicControls2</name>
    <description>Cordova Music Controls Plugin (Android 14 Fix)</description>
    <license>MIT</license>
    <keywords>cordova,music,controls</keywords>
    <repo>https://github.com/your-github/cordova-plugin-music-controls2</repo>
    <engines>
        <engine name="cordova" version=">=12.0.0" />
    </engines>

    <!-- Android 설정 -->
    <platform name="android">
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
            <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
            <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <service android:name="com.ghenry22.musiccontrols.MusicControlsNotification" android:enabled="true" android:exported="false" android:foregroundServiceType="mediaPlayback" />
        </config-file>

        <source-file src="src/android/MusicControlsNotification.java" target-dir="src/com/ghenry22/musiccontrols" />
        <framework src="androidx.core:core:1.12.0" />
        <framework src="androidx.media:media:1.7.0" />
    </platform>
</plugin>
